#.gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

## Dependency directories and package managers
*node_modules*
#/.pnp*
#.yarn/*
#!.yarn/{patches,plugins,releases,versions}

## Build output
#/build

## Next.js output
#/.next/
#/out/

## Testing output
#/coverage

## Environment variable files or constants file
.env
.env.*
*.env
*-env*
*constants*
/supabase/config.toml
config.toml


## Miscellaneous
.DS_Store
*.pem


